<footer class=" text-light py-5">
    <div class="container">
      <div class="row">
        <!-- Aviso -->
        <div class="col-md-6 mb-4">
          <p class="mb-2">
            <strong>Atenção:</strong> Este site não oferece atendimento imediato para crises suicidas.
          </p>
          <p class="mb-2">
            Se você está em crise ou precisa de suporte urgente, entre em contato com o Centro de Valorização da Vida (CVV) pelo telefone <strong>188</strong> – atendimento gratuito e disponível 24h.
          </p>
          <p>
            Em situações de emergência, procure o hospital mais próximo ou busque ajuda especializada o quanto antes.
          </p>
        </div>
  
        <!-- Contato -->
        <div class="col-md-3 mb-4">
          <h5>Contato</h5>
          <ul class="list-unstyled">
            <li><i class="bi bi-whatsapp me-2"></i>21 985719863</li>
            <li><i class="bi bi-envelope me-2"></i>psicologapamelasg&#64;gmail.com</li>
            <li><i class="bi bi-instagram me-2"></i>&#64;psicologapamela.sl19</li>
          </ul>
        </div>
  

      </div>
  
      <!-- Rodapé -->
      <div class="text-center mt-4">
        <p class="mb-1">&copy; 2024 Pamela Silva Gomes. Todos os direitos reservados.</p>
      </div>
    </div>
  </footer>
  