<header>
    <nav class="navbar navbar-expand-lg"> <!-- opcional para fundo escuro -->
      <div class="container text-light" data-bs-theme="dark">
        <a class="navbar-brand" href="index.html">
          <img style="width: 120px;" src="assets/logo_pamela.png" alt="">
        </a>
        <button class="navbar-toggler shadow-none border-0 text-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="sidebar offcanvas offcanvas-start  text-white" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header border-bottom">
            <h5 class="offcanvas-title text-white" id="offcanvasNavbarLabel">
              Pamela <span style="color: #C8BFE7;">Psicologia</span>
            </h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
  
          <div class="offcanvas-body d-flex flex-column flex-lg-row p-4 p-lg-0">
            <ul class="navbar-nav justify-content-center fs-5 flex-grow-1 pe-3">
              <li class="nav-item mx-2">
                <a class="nav-link text-white" href="lancamento.html">Terapia Online</a>
              </li>
                 <li class="nav-item mx-2">
                <a class="nav-link text-white" href="lancamento.html">Benefícios da Terapia</a>
              </li>
                 <li class="nav-item mx-2">
                <a class="nav-link text-white" href="lancamento.html">Quem Sou Eu?</a>
              </li>
              <li class="nav-item dropdown mx-2">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Agende Sua Consulta
                </a>
                <ul class="dropdown-menu " aria-labelledby="navbarScrollingDropdown">
                  <li><a class="dropdown-item text-white" href="modelos.html">Instagram</a></li>
                  <li><a class="dropdown-item text-white" href="modelos.html">WhatsApp</a></li>
                  <li><a class="dropdown-item text-white" href="modelos.html">Email</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </header>
  