header{
    background-color: #2D213D;
    color: white;

    .container {
        color: white;
    }

    .dropdown-menu {
        background-color:#2D213D ;
    }

    .sidebar{
        background-color: #2D213D;
    }
}



.sidebar {
    background-color: #2D213D;
}

.dropdown-menu {
    background-color: #2D213D;
}