<app-header></app-header>

<section class="first-section">
    <div class="corpo-apresentacao">
        <h2 class="pt-5 p-3"  data-aos="fade-right"
     data-aos-offset="300"
     data-aos-easing="ease-in-sine">Quando a terapia é o caminho para a sua transformação</h2>
        <p class="p-3"   data-aos="fade-right"
     data-aos-offset="300"
     data-aos-easing="ease-in-sine" data-aos-delay="100">  Com mais de uma década de experiência clínica e uma paixão inabalável por compreender a mente
            humana, trilho
            minha jornada como psicóloga guiada pela ciência e pelo afeto. Especializada em Terapia
            Cognitivo-Comportamental e Terapia dos Esquemas, integro também conhecimentos da neurociência e da sexologia
            clínica para oferecer um cuidado profundo, ético e transformador. ​Minha abordagem é guiada pela ciência,
            pela escuta ética e pela busca por transformações profundas e duradouras.</p>
    </div>
    <div>
        <img class="imagem-pessoas img-fluid" data-aos="fade-left" data-aos-delay="300" src="assets/alegres-amigos.jpg" alt="Amigos alegres">
    </div>
</section>

<section class="second-section">
    <div class="divsor">
        <div class="conteiner">
            <img class="conteiner-img img-fluid" src="assets/psicologia-logo.png" width="60" alt="">
            <p>Psicologia, Amor, Saúde Mental Psicologia, Amor, Saúde Mental...</p>
        </div>
        <div class="conteiner">
            <img class="conteiner-img img-fluid" src="assets/psicologia-logo.png" width="60" alt="">
            <p>Psicologia, Amor, Saúde Mental Psicologia, Amor, Saúde Mental...</p>
        </div>
        <div class="conteiner">
            <img class="conteiner-img img-fluid" src="assets/psicologia-logo.png" width="60" alt="">
            <p>Psicologia, Amor, Saúde Mental Psicologia, Amor, Saúde Mental...</p>
        </div>
    </div>
</section>

<section class="divisor">
    <div class="conteiner">
        <h3>Aprenda a fortalecer a comunicação, resgatar a conexão emocional e viver relacionamentos mais saudáveis —
            com o outro e com você mesma — com a terapia.</h3>
    </div>
</section>


<section class="terceira-section">
    <div class="corpo-apresentacao text-align-start">
        <div style=" margin: 0 auto; padding: 12px;" >
            <h2 style="text-align: center;" data-aos="fade-down"
     data-aos-easing="linear"
     data-aos-duration="1500" >Quando a terapia é o caminho para a sua transformação</h2>

            <p data-aos="fade-down"
     data-aos-easing="linear"
     data-aos-duration="1500">
                Você sente que está se esforçando, mas algo nos seus relacionamentos permanece fora do lugar?
                Às vezes é a comunicação, a intimidade... ou apenas aquela sensação de que falta algo —
                mesmo quando tudo parece certo.
            </p>

            <p data-aos="fade-down"
     data-aos-easing="linear"
     data-aos-duration="1500">
                A terapia é um espaço seguro para olhar com coragem para si e para o outro.
                Na terapia de casal, reconstruímos vínculos a partir da escuta e da consciência.
                Já na terapia individual, acessamos padrões, curamos feridas e fortalecemos a autoestima.
            </p>

            <p data-aos="fade-down"
     data-aos-easing="linear"
     data-aos-duration="1500">
                Ambos os caminhos se conectam em um ponto comum:
                o desejo de viver com mais presença, autenticidade e propósito.
            </p>

            <p data-aos="fade-down"
     data-aos-easing="linear"
     data-aos-duration="1500">
                Buscar ajuda não é fraqueza. É maturidade emocional — e o primeiro passo para transformar,
                de verdade, como você se relaciona.
            </p>
        </div>
    </div>

    <img class="pamela img-fluid" data-aos="fade-down"
     data-aos-easing="linear"
     data-aos-duration="1000" data-aos-delay="0" src="assets/pamela.jpg" alt="pamela">

</section>
<section class="quarta-section">
    <div class="divsor">
        <div class="conteiner">
            <img class="conteiner-img img-fluid " src="assets/casal.png" width="200px" alt="">
            <h3>Terapia de casal online</h3>
            <p data-aos="fade-down"
     data-aos-easing="linear"
     data-aos-duration="1500">Para casais que desejam restaurar a confiança, fortalecer a comunicação e reconstruir a conexão emocional
                com segurança e leveza.</p>
        </div>
        <div class="conteiner">
            <img class="conteiner-img img-fluid" src="assets/menina-pensando.png" width="200px" alt="">
            <h3>Terapia individual para relacionamentos</h3>
            <p data-aos="fade-down"
     data-aos-easing="linear"
     data-aos-duration="1500">Para casais que desejam restaurar a confiança, fortalecer a comunicação e reconstruir a conexão emocional
                com segurança e leveza.</p>
        </div>
        <div class="conteiner">
            <img class="conteiner-img img-fluid" src="assets/mulher-cobrindo-olho.png" width="200px" alt="">
            <h3>Terapia de reabilitação neuropsicológica</h3>
            <p data-aos="fade-down"
     data-aos-easing="linear"
     data-aos-duration="1500">Para casais que desejam restaurar a confiança, fortalecer a comunicação e reconstruir a conexão emocional
                com segurança e leveza.</p>
        </div>
    </div>
</section>

<section class="quinta-section">
    <img class="pamela3 img-fluid" src="assets/pamela3.png" alt="pamela">
    <div class="corpo-apresentacao text-align-start">
        <div style=" margin: 0 auto; ">
            <h2 style="text-align: start;">Pamela Silva Gomes</h2>

            <p data-aos="fade-down">
                Com mais de uma década de experiência clínica e uma paixão inabalável por compreender a mente humana,
                trilho minha jornada como psicóloga guiada pela ciência e pelo afeto. Especializada em Terapia
                Cognitivo-Comportamental e Terapia dos Esquemas, integro também conhecimentos da neurociência e da
                sexologia clínica para oferecer um cuidado profundo, ético e transformador. ​Minha abordagem é guiada
                pela ciência, pela escuta ética e pela busca por transformações profundas e duradouras.
            </p>

            <p data-aos="fade-down" data-aos-delay="100">
                Porque mudar exige coragem — mas também orientação segura, baseada em evidências e conduzida com respeito à singularidade de cada jornada.
            </p>

            <p>
                <i class="bi bi-envelope"></i> E-mail: <a href="">psicologapamelasg&#64;gmail.com</a>
            </p>

            <p>
                <i class="bi bi-whatsapp me-2"></i> WhatsApp:  21 985719863
            </p>

            <p>
                <i class="bi bi-instagram"></i>  Instagram:  <a href="https://www.instagram.com/psicologapamela.s19/">&#64;psicologapamela.s19</a>
             </p>
        </div>
    </div>



</section>


<section class="contato">
    <div class="contato-section">
        <h3>Entre em Contato</h3>
        <div class="links" >
            <a href=""><i class="bi bi-envelope me-5"></i></a>
            <a href=""><i class="bi bi-whatsapp me-5"></i></a>
            <a href="https://www.instagram.com/psicologapamela.s19/"><i class="bi bi-instagram me-5"></i></a>
        </div>
    </div>
</section>

<app-footer></app-footer>
<router-outlet />