<app-header></app-header>
<section class="pamela-banner d-flex align-items-center text-white">
    <div class="container">
        <div class="row justify-content-center justify-content-lg-end">
            <div class="frases col-lg-7 col-10 p-3 rounded text-center text-lg-start">
                <h2 class="text-center">Pamela S G</h2>
                <p class="text-center">
                    A saúde mental é um pilar essencial para o bem-estar global de qualquer indivíduo, e quando falamos
                    em momentos delicados como diagnósticos complexos, ou situações de vulnerabilidade, o
                    cuidado psicológico se torna ainda mais fundamental. É neste cenário que se destaca o trabalho da
                    Psicóloga Pamela Silva Gomes, profissional com mais de 10 anos de experiência.
                </p>
                <div class="texto-nulo">

                    <p class="texto-nulo text-center">
                        Com uma sólida trajetória na Psicologia Hospitalar, Pamela atua diretamente em ambientes
                        hospitalares oferecendo suporte emocional, escuta qualificada e intervenções clínicas que visam não
                        apenas a compreensão do adoecimento, mas também a promoção de resiliência, enfrentamento e qualidade
                        de vida. Seu trabalho é pautado na ética, empatia e compromisso com o ser humano em suas mais
                        diversas fases da vida, desde a internação até a alta hospitalar.</p>
    
                        <p class="texto-nulo text-center">
                            
                        Além de sua expertise em ambiente hospitalar, Pamela também é especializada em Avaliação Psicológica
                        e Neuropsicológica, áreas fundamentais para o diagnóstico de questões cognitivas, comportamentais e
                        emocionais. Por meio de instrumentos validados e criteriosos, ela realiza avaliações que auxiliam no
                        entendimento de dificuldades relacionadas à atenção, memória, aprendizagem, desenvolvimento
                        infantil, alterações neurológicas, transtornos de humor, entre outros.
                        </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="first-section">
    <div class="corpo-apresentacao">
        <h2 class="pt-5 p-3" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">Cuidar da mente
            é essencial para viver com equilíbrio</h2>
        <p class="p-3">
            Compreender e cuidar do cérebro é essencial para uma vida com mais equilíbrio, saúde e qualidade. É ele que
            comanda nossos pensamentos, emoções, comportamentos e escolhas diárias. Quando investimos em saúde mental,
            damos espaço para o autoconhecimento, aprendemos a lidar melhor com o estresse, fortalecemos nossa
            autoestima e cultivamos relações mais saudáveis. A terapia oferece esse caminho: um espaço seguro, ético e
            acolhedor para olhar para dentro, compreender a si mesmo e promover mudanças significativas. Cuidar da mente
            é cuidar da vida como um todo.
        </p>
    </div>
    <div>
        <img class="imagem-pessoas img-fluid" src="assets/alegres-amigos.jpg" alt="Amigos alegres">
    </div>
</section>

<section class="second-section">
    <div class="divsor">
        <div class="conteiner">
            <img class="conteiner-img img-fluid" src="assets/psicologia-logo.png" width="60" alt="">
            <p>A relação terapêutica é baseada na ética, no respeito e na confidencialidade. O consultório (presencial
                ou virtual) é um ambiente onde o paciente pode ser ele mesmo, sem medo de críticas ou condenações. Essa
                liberdade favorece a abertura emocional e o aprofundamento nas questões mais delicadas.</p>
        </div>
        <div class="conteiner">
            <img class="conteiner-img img-fluid" src="assets/cerebro.png" width="60" alt="">
            <p>Cuidar do cérebro é essencial para uma vida equilibrada. É ele que regula nossas emoções, decisões,
                memórias e comportamentos. Quando damos atenção à saúde cerebral, promovemos bem-estar, prevenção de
                transtornos e mais qualidade de vida. Assim como cuidamos do corpo, a mente também precisa de atenção
                constante.</p>
        </div>
        <div class="conteiner">
            <img class="conteiner-img img-fluid" src="assets/medico.png" width="60" alt="">
            <p>A psicologia hospitalar atua no cuidado emocional de pacientes, familiares e equipes de saúde durante o
                processo de adoecimento. Ela ajuda a lidar com o impacto do diagnóstico, internações e tratamentos,
                promovendo acolhimento, escuta e fortalecimento emocional. Esse suporte é essencial para o enfrentamento
                do sofrimento e para a humanização do cuidado.</p>
        </div>
    </div>
</section>

<section class="divisor">
    <div class="conteiner">
        <h3>Buscar terapia não é sinal de fraqueza, mas um ato de coragem de quem escolhe se conhecer, se curar e
            crescer de dentro para fora.</h3>
    </div>
</section>


<section class="terceira-section">
    <div class="corpo-apresentacao text-align-start">
        <div style=" margin: 0 auto; padding: 12px;">
            <h2 style="text-align: center;" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500"
                id="beneficio">Quando a terapia é o caminho para a sua transformação</h2>

            <p data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
                Um dos principais benefícios da terapia é o desenvolvimento do autoconhecimento. Ao longo do processo
                terapêutico, o indivíduo aprende a identificar suas emoções, padrões de pensamento, comportamentos e
                reações. Esse conhecimento é fundamental para tomar decisões mais conscientes, lidar com desafios de
                forma mais saudável e fortalecer sua autoestima.
            </p>

            <p data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
                Ao compreender melhor suas emoções e comportamentos, o indivíduo tende a se comunicar com mais clareza e
                empatia. Isso se reflete diretamente nas relações familiares, afetivas e profissionais. A terapia ajuda
                a desenvolver habilidades sociais, limites saudáveis e maior assertividade na comunicação.
            </p>

            <p data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
                A terapia oferece um espaço seguro para expressar medos, angústias e inseguranças. Por meio do diálogo e
                de técnicas específicas, é possível compreender a origem de sentimentos como ansiedade e tristeza,
                aprendendo a enfrentá-los com estratégias mais saudáveis. A escuta ativa do psicólogo proporciona
                acolhimento e direcionamento, reduzindo o sofrimento psíquico e promovendo alívio emocional.
            </p>

            <p data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
                Engana-se quem pensa que a terapia é apenas para quem está em "crise". Qualquer pessoa, em qualquer fase
                da vida, pode se beneficiar do acompanhamento psicológico. Não é preciso "chegar ao limite" para buscar
                ajuda. Investir na saúde mental é uma forma de viver com mais consciência, equilíbrio e plenitude.
            </p>
        </div>
    </div>

    <img class="pamela img-fluid" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000"
        data-aos-delay="0" src="assets/pamela.jpg" alt="pamela">

</section>
<section class="quarta-section" id="online">
    <div class="divsor">
        <div class="conteiner">
            <img class="conteiner-img img-fluid " src="assets/terapia-online.png" width="200px" alt="">
            <h3>Terapia Online</h3>
            <p data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">Oferecemos um atendimento
                psicológico de qualidade, agora também no formato 100% online, para que você receba o suporte emocional
                que precisa com conforto, segurança e flexibilidade.</p>
        </div>
        <div class="conteiner">
            <img class="conteiner-img img-fluid" src="assets/terapia-hospitalar.png" width="200px" alt="">
            <h3>Psicologia Hospitalar</h3>
            <p data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">Apoio emocional para pacientes e
                familiares em contextos de internação ou tratamento médico.</p>
        </div>
        <div class="conteiner">
            <img class="conteiner-img img-fluid" src="assets/mulher-cobrindo-olho.png" width="200px" alt="">
            <h3>Avaliação Psicológica e Neuropsicológica</h3>
            <p data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">Diagnóstico de aspectos emocionais
                e cognitivos para auxiliar no tratamento e autoconhecimento.</p>
        </div>
    </div>
</section>

<section class="quinta-section">
    <img class="pamela3 img-fluid" src="assets/pamela3.png" alt="pamela">
    <div class="corpo-apresentacao text-align-start">
        <div style=" margin: 0 auto; ">
            <h2 id="pamela" style="text-align: start;">Pamela Silva Gomes</h2>

            <p data-aos="fade-down">
                Cuidando da sua saúde mental com experiência e dedicação
                Com uma década de experiência na área clínica, oferecemos um atendimento acolhedor, ético e
                especializado, voltado para o bem-estar e a qualidade de vida dos nossos pacientes.
            </p>

            <h4 data-aos="fade-down" data-aos-delay="100">
                Especialidades
            </h4>
            <p data-aos="fade-down" data-aos-delay="100">
                – Psicologia Hospitalar suporte emocional e psicológico em contextos hospitalares, auxiliando pacientes
                e familiares no enfrentamento de doenças e internações.
            </p>
            <p data-aos="fade-down" data-aos-delay="100">
                – Avaliação Psicológica e Neuropsicológica processos de diagnóstico preciso para identificar aspectos
                emocionais, cognitivos e comportamentais, contribuindo para intervenções mais eficazes.
            </p>

            <p>
                <i class="bi bi-envelope"></i> E-mail: <a href="">psicologapamelasg&#64;gmail.com</a>
            </p>

            <p>
                <i class="bi bi-whatsapp me-2"></i> WhatsApp: <a
                    href="https://api.whatsapp.com/message/5BZYCBYNO4GKD1?autoload=1&app_absent=0">Clique Aqui</a>
            </p>

            <p>
                <i class="bi bi-instagram"></i> Instagram: <a
                    href="https://www.instagram.com/psicologapamela.s19/">Clique Aqui</a>
            </p>
        </div>
    </div>



</section>


<section class="contato">
    <div class="contato-section">
        <h3>Entre em Contato</h3>
        <div class="links">
            <a href=""><i class="bi bi-envelope me-5"></i></a>
            <a href="https://api.whatsapp.com/message/5BZYCBYNO4GKD1?autoload=1&app_absent=0"><i
                    class="bi bi-whatsapp me-5"></i></a>
            <a href="https://www.instagram.com/psicologapamela.s19/"><i class="bi bi-instagram me-5"></i></a>
        </div>
    </div>
</section>

<app-footer></app-footer>
<router-outlet />